<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>list</param-name>
        <param-value></param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlet.contextListenerServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>servlet.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remvoebyidandvacnoServlet</servlet-name>
        <servlet-class>servlet.remvoebyidandvacnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatevacTypeServlet</servlet-name>
        <servlet-class>servlet.updatevacTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remvoebyidandvacnoServlet</servlet-name>
        <url-pattern>/remvoebyidandvacnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatevacTypeServlet</servlet-name>
        <url-pattern>/updatevacTypeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
